{% extends "base.html" %}

{% block content %}
    <div class="row">
    <h4>Greetings, {{ user.first_name}}</h4>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
          <h4>Organizations</h4>
          {% for organization in organizations %}
            <p>{{ organization }}</p>
            {% endfor %}
        </div>

        <div class="col-lg-6">
          <h4>Applications</h4>
            {% for application in applications %}
            <p><a href="{{ application.get_absolute_url }}">{{ application }}</a></p>
            {% endfor %}
        </div>
      </div>
{% endblock content %}