{% extends "base.html" %}

{% block content %}

    <h2>What is MobiAuth?</h2>
    <h4>MobiAuth is a proof of concept authentication app made as part of a master's thesis at <a href="https://www.ntnu.edu/idi/">NTNU</a>.
    It allows for biometric authentication in web apps using a smartphone as the authentication device.</h4>

    <h2>How do I get an account?</h2>
    <h4>MobiAuth is not open for public use.</h4>

    <h2>Can I access the API for mobiauth?</h2>
    <h4>Yes. The API the MobiAuth uses is located <a href="/api">here</a>. </h4>




{% endblock content %}